- name: Init empty dotfiles repo
  command: "git init"
  args:
    chdir: "~"

- name: Disable show untracked files
  git_config:
    name: "status.showUntrackedFiles"
    scope: local
    repo: "~"
    value: "no"

- name: Add remote repository
  command: "git remote add origin {{ dotfiles_repo }}"
  args:
    chdir: "~"
  register: add_remote
  failed_when: add_remote.rc != 0 and "already exist" not in add_remote.stderr

- name: Clone dotfiles repo
  git:
    repo: "{{ dotfiles_repo }}"
    dest: "~"
    update: yes

- name: Create missing directories for config files
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - "~/.config/alacritty"
    - "~/.config/karabiner"

- name: Copy macOS specific config files
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
  loop:
    - src: alacritty.yml
      dest: ~/.config/alacritty/alacritty.yml
    - src: karabiner.json
      dest: ~/.config/karabiner/karabiner.json
    - src: yabairc
      dest: ~/.yabairc
    - src: skhdrc
      dest: ~/.skhdrc
